 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>At CDA we provide services in front-end and back-end for web and app development.  </p>
                </div>
                <div class="col-lg-4">
                    <p>Here at CDA, we don't just provide a service for clients we also provide skillsets to our employees. We firmly believe in providing experience to web developers ranging from beginners, students, and even professionals. When contracted, our employees learn about a great deal professional skill sets. These skill sets include: proper commenting, proper naming, code organization, and writing detailed reports about the project from start to finish under the supervision of one of our core team members. This ensures that our coders can leave with a new level of skill sets after they end their contracts. </p>
                </div>
                
            </div>
        </div>
    </section>
