 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Welcome to the CDA experience! We provide web/app development services for individuals, small businesses, start-ups, and organizations. Whether you want a new website, an upgrade of your current website, logo design (marketing material), or consulting (self starters, or web businesses), CDA is here for you. We make the process simple and communicate with you from start to finish while staying within your budget. Contact us in the section below for your next project! </p>
                </div>
                <div class="col-lg-4">
                    <p>Not only do we provide a great experience for our clients, we also provide a great learning environment for our developers. Why is that important? Well, at CDA we believe in providing students, self taught developers, and professionals an environment where they can enhance their development and business skills, and gain experience in the field to prepare them for jobs they want to pursue. CDA works differently by offering project contracts because we know how important it is to have experience on your resume when job application season comes around. When you choose CDA, you choose to help students gain valuable skills for their future. </p>
                </div>
                
            </div>
        </div>
    </section>
